*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    display: flex;
    float: right;
}
div{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    height: 100px;
    width: 100px;
    background: rgb(242, 198, 207);
    overflow: hidden;
}