*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    border: 2px solid black;
    width: 80%;
    height: 300px;
    border-collapse: collapse;
}
table tr{
    text-align: center;
}