*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
div{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    height: 200px;
    background: rgb(242, 198, 207);
}
.container-1{
    max-width: 900px;
}
.container-2{
    width: 900px;
}