*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: lime;
    height: 700px;
    width: 700px;
}
div{
    width: 100px;
    height: 100px;
    background: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box1{
    position: absolute;
}
.box2{
    position: fixed;
}
.box3{
    position: static;
}
.box4{
    position: sticky;
}